main{
  margin-left: 40px;
  margin-right: 40px;
}

main h1{
  color: deepskyblue;
  margin-bottom: 15px;
}

#hero-section{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/red-rose-hero.jpg);
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#hero-section img{
  height: 100px;
  display: inline-block;
  text-align: center;
  border-radius: 20rem;
}

.hero-text{

    color: white;
    text-align: center;
    padding-top: 120px;
    line-height: 80%;
}

#footer-section{
  text-align: center;
  background-color: skyblue;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 18px;
}

main h1{
  text-align: center;
}

#skills-section div #flex{
  display: flex;
  flex-direction: horizontal;
}

#skills-section div{
  margin-top: 8px;
}

#skills-section div #flex #col {
  margin-top: 50px;
  padding: 10px;
}

main i{
  font-size: 80px;
}
section{
  margin-top: 10px;
}

#contact-section a{
  text-decoration: none;
  color: slategray;
  font-size: 70px;
}

#contact-section #linkedin a:hover{
  color: #0077b5;
}

#contact-section #github a:hover{
  color: black;
}

#contact-section #mail a:hover{
  color: orangered;
}

#contact-section div.container{
  margin-left: 15%;
}

@media only screen and (max-width: 1400px) {
  #mission-section p{
    margin: 25px;
  }
}

#mission-section p{
    margin-left: 20%;
    margin-right: 20%;
  }

/* @media only screen and (min-width: 980px) {
  #mission-section p{
    margin-left: 120px;
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1200px) {
  #mission-section p{
    margin-left: 180px;
    margin-right: 180px;
  }
} */

@media only screen and (min-width: 980px) {
  #project-section section{
    margin-left: 50px;
    margin-right: 50px;
  }

  #project-section section div{
    display: flex;
    padding: 20px;
  }

#project-section section div img{
    padding: 15px;
  }
}

#project-section section{
  margin-left: 70px;
  margin-right: 70px;
}
